.center {
  // --measure: 60ch;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  display:flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
}