.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  // padding-inline: var(--space-m-3xl, 10rem);

  // & > * {
  //   margin-left: var(--size-fluid-3);
  //   margin-right: var(--size-fluid-3);
  //   margin-inline: var(--size-fluid-3)
  // }
}