// Type

$serif: Cambria, 'Liberation Serif', Times, Utopia, 'Hoefler Text', 'Nimbus Roman No9 L Regular', 'Times New Roman',
  serif;



h1, h2, h3, h4 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-4);
}