
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji', 'Segoe UI Symbol';

$serif: Cambria, 'Liberation Serif', Times, Utopia, 'Hoefler Text', 'Nimbus Roman No9 L Regular', 'Times New Roman', serif;

$slab-serif: 'Rockwell', 'Rockwell Extra Bold', 'Courier New', Monoco, Courier, monospace;

$capitolina: 'capitolina', $serif;
$gomme: 'gomme-sans', $sans-serif;


/* @link https://utopia.fyi/type/calculator?c=320,18,1.333,1440,36,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1440;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1440px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 10.13;
  --f--2-max: 20.26;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 13.50;
  --f--1-max: 27.01;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 18.00;
  --f-0-max: 36.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 23.99;
  --f-1-max: 47.99;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 31.98;
  --f-2-max: 63.97;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 42.63;
  --f-3-max: 85.27;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 56.83;
  --f-4-max: 113.66;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 75.76;
  --f-5-max: 151.51;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  font-family: $capitolina;
}

h1 { // TODO: use sass map to generate all the titles
  font-size: var(--step-4);
}

nav { // Type rules only! See the _nav.scss for layout
  font-family: $gomme;
  font-size: var(--space-xs);
}

p {
  font-size: var(--step-1);
  line-height: 1.2;
  padding-inline-end: var(--space-s);
  padding-inline-start: var(--space-s);
}

.home p {
  font-size: var(--step-2);
  text-shadow: 1px 1px 1px #333 ;
}

.lasttitle {
  font-family: $gomme;
  font-weight: 100;
  font-style: normal;
}

.subtitle {
  color: $pale-sun;
  display: block;
  font-size:var(--step-1);
  font-style:normal;
  font-weight:700;
  line-height:94%;
  padding: 1em 1em 3em 4em;
}



 