// CUBE Methodology

// Composition
@import 'compose/stack';
// Utility
@import 'util/wrapper';
@import 'util/center';
// Blocks
@import 'block/nav';
@import 'block/section';
// Exceptions

// Typographics
@import 'typography';

// Some Overrides / Additions to make open props even more flexible:
:root {
--measure: 100vw;
--font-serif: #{$serif};
}

// Override Open Props
:where(html) {
  font-family: var(--font-serif);
}
