$step--1: var(--step--1);

.footer {
  padding-block-start: 14.0625rem;
  padding-block-end: var(--space-m, 10rem);
  padding-inline: var(--space-m);

  @media screen and (min-width: 414px) {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .decor {
    background-color: red;
    border-radius: 50% 50%;
    width: 144px;
    height: 144px;
  }

  .nav-footer {
    align-items: start;
    display: flex;
    flex-direction: column;
    font-size: var(--step-0);
    margin-block-start: var(--space-m);
    //! this is temporary until we have more pages:
    display: none;
  }
}


.logo-kinetic-solid,
.logo-kinetic-knockout {
  width: 145px;
  height: auto;

  @media screen and (min-width: 414px) {
    width: 347px;
    height: auto;  
  }
 
  .type {
    fill: var(--logo-type);
  }

  .mark {
    fill: var(--logo-mark);
  }
}

.logo-kinetic-knockout {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logo-kinetic-solid {
    display: none;
  }
  .logo-kinetic-knockout {
    display: initial;
  }
}

// .logo-main {
  

//   // Breakpoints
   
// }

// .logo-kinetic {
 
// }

// Uses same color set, but reduces size of logo
.colophon {
  
  // svg {
  //   width: 9.0625rem;
  // }
  p {
    font-family: $gomme;
    font-size: var(--step--2);
    margin-block-start: var(--space-m);
    padding-inline-start: 0;
  }
  
}