$step--1: var(--step--1);

footer {
  padding-block-start: 14.0625rem;
  padding-block-end: var(--space-m, 10rem);
  padding-inline: var(--space-m);
  
  .decor {
    background-color: red;
    border-radius: 50% 50%;
    width: 144px;
    height: 144px;
  }

  .nav-footer {
    align-items: start;
    display: flex;
    flex-direction: column;
    font-size: var(--step-0);
    margin-block-start: var(--space-m);
    //! this is temporary until we have more pages:
    display: none;
  }
}

.logo-main {
  width: 347px;
  height: 189.63px;
}

.colophon {
  svg {
    width: 9.0625rem;
  }
  p {
    font-family: $gomme;
    font-size: $step--1;
    margin-block-start: var(--space-m);
    padding-inline-start: 0;
  }
  
}