nav {
  // !Hidden Nav until further pages are developed
  align-items: center;
  display: flex; 
  justify-content: start;

  // These rules handle the top navigation for both large and small screens
  // Mobile & Desktop as it were...
  // TODO: Use container queries instead of break points

  &.large {
    @media screen and (min-width: 414px) {
      display: none;
    }
  }
  
  &.small {
    @media screen and (max-width: 415px) {
      display: none;
    }
    display: flex;
  }
}
// TODO: gather different styles based on screen size under respective classes

.nav-primary {
  display: none;
}

.nav-social-media {
  gap: var(--space-xs-s);

  a {
    display: block;
  }

  svg {
    fill: var(--brand-background);
    height: var(--size-6);
    stroke: var(--social-media-logo);
    width: auto;
    
  }
}