// Home page only
// TODO: apply this at the template level only;
// TODO: figure out how to decouple project styles from theme styles

//   :is(.wrapper) header, footer {
//   padding: 4rem;
// }
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: var(--space-m, 27px);
  padding-block-end: var(--space-m, 27px);
  padding-inline-end: var(--space-s, 18px);
  padding-inline-start: var(--space-s, 18px);
}

.home {
 :where(h1) {
    max-inline-size: calc(var(--size-header-1) / 1.75);
  }
}

:where(svg) {
  stroke: none;
  fill: initial;
}

.logo-main {
  .type {
    fill: var(--logo-type);
  }

  .mark {
    fill: var(--logo-mark);
  }
}


// Social media icons
nav {
  svg {
    height: var(--space-xs-s);
  }
}

// Main Logo in header
.primary-logo-nav {
  display: flex;
  flex-direction: row;

  .logo-main {
    width: 161px;
    height: 56px;
  }

  @media screen and (max-width: 47.9375rem) {
    .pale-sun-type {
      display: none;
    }
  }
}