// Mast Head
// Logos etc.

.mast-head {
  --large-screen: 48rem;
  --small-screen: 767px;
  --logo-left: 50rem;
  --st-align: calc(var(--space-3xl) * 1.7);

  .logo-main {
      .type,
      .mark {
        fill: var(--text1);
    }
  }

  .subtitle {
    display: block;
  }

  @media screen and (max-width: 47.9375rem) {
    margin-block-end: 10rem;
    padding-block-start: var(--space-xl, 54px);

    svg {
      height: auto;
      margin-inline-end: var(--space-xl);
      margin-inline-start: var(--space-xl);
      max-width: 300px;
      width: auto;
    }

    .subtitle {
      --st-align: calc(var(--space-3xl) * 1.7);
      padding: 1em 1em 3em var(--st-align);
    }
  }

  @media screen and (min-width: 48rem) {
    margin-block-end: 10rem;
    margin-block-start: 21.875rem;
    // margin-block-start: var(--top-spacing);
    padding: initial;

    svg {
      width: 474px;
    }

    .subtitle {
      --st-align: calc(var(--space-3xl));
      // padding: 1em 1em 3em var(--st-align);
      padding-block-end: 0;
      padding-block-start: 1rem;
      padding-inline-end: 1rem;
      padding-inline-start: var(--st-align);
    }
  }
}




// lilou 400 oscar tj papa ricardo
